<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ErrorBoundary @ref="errorBoundary">
            <ChildContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
            </ChildContent>
            <ErrorContent>
                <LayoutView Layout="typeof(ErrorLayout)">
                    <Error500 Exception="@context" RecoverRequest="() => errorBoundary?.Recover()"/>
                </LayoutView>
            </ErrorContent>
        </ErrorBoundary>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        // Not called when navigation or browser back
        System.Diagnostics.Debug.WriteLine("**** OnParametersSet App ****");
        //errorBoundary?.Recover();
    }
}
